.blogs{
	width: 100%;
	border: 1px solid;
	min-height: 800px;
	.main{
		width: 80%;
		min-height: 800px;
		margin: 0 auto;
		.blog{
			background: #fff;
			padding: 10px;
			margin-top: 30px;
		}
		margin-bottom: 20px;
	}
}